@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Búsqueda";
}
<style>
    .cursor-pointer {
        cursor: pointer;
    }

    .modal-header .close {
        background-color: transparent;
        color: black;
        border: none;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 20px
    }
</style>

@model List<Model_Layer.Product>

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Buscar Producto</h1>
        </div>
    </div>
    <form method="post" action="@Url.Action("Search")">
        <div class="row">
            <div class="col-12 mt-2">
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="searchTerm" class="w-25">Buscar producto por:</label>
                    <input type="text" id="searchTerm" name="searchTerm" class="form-control w-75" placeholder="Descripción, Código, Categoría del producto y Marca">
                    <div id="name" class="form-check m-2 cursor-pointer">
                        <input class="form-check-input cursor-pointer" type="radio" name="searchBy" id="name" value="name">
                        <label class="form-check-label" for="name">Descripción</label>
                    </div>
                    <div id="code" class="form-check m-2 cursor-pointer">
                        <input class="form-check-input cursor-pointer" type="radio" name="searchBy" id="code" value="code">
                        <label class="form-check-label" for="code">Código</label>
                    </div>
                    <div id="category" class="form-check m-2 cursor-pointer">
                        <input class="form-check-input cursor-pointer" type="radio" name="searchBy" id="category" value="category">
                        <label class="form-check-label" for="category">Categoría</label>
                    </div>
                    <div id="marca" class="form-check m-2 cursor-pointer">
                        <input class="form-check-input cursor-pointer" type="radio" name="searchBy" id="marca" value="marca">
                        <label class="form-check-label" for="marca">Marca</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-75 mt-4">
                    <i class="bx bx-search-alt"></i> Buscar
                </button>
            </div>
        </div>
    </form>
    <div id="alertMessages">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Error
            </div>
        }
    </div>
    <div id="successMessages">
        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
    </div>
    <!-- Agrega este botón al final de tu vista Search.cshtml -->
    <div class="row justify-content-center">
        <div class="col-6 mt-2">
            <a href="@Url.Action("Search")" class="btn btn-secondary w-100 m-4">
                <i class="bx bx-refresh"></i> Recargar
            </a>
        </div>
    </div>

    <!--Tabla se resultados-->
    <div class="row">
        <div class="col-12 mt-4">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Proveedor</th>
                        <th>Categoría</th>
                        <th>Marca</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var producto in Model)
                        {
                            <tr>
                                <td>@producto.Id</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Descripcion">@producto.Descripcion</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Proveedor">@producto.ProveedorNombre</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Categoria">@producto.CategoriaNombre</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Marca">@producto.MarcaNombre</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Cantidad">@producto.Cantidad</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Costo">@producto.Costo</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Precio">@producto.Precio</td>
                                <td><button class="btn btn-primary" onclick="editarProducto('@producto.Id')">Editar</button></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">
                                @if (!string.IsNullOrEmpty(ViewBag.NoResultsMessage) || ViewData.ModelState["searchBy"] != null)
                                {
                                    @ViewBag.NoResultsMessage
                                }
                                else
                                {
                                    @:No se encontraron resultados.
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="modalEditarProductoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarProductoLabel">Editar producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateProductForm" action="@Url.Action("ActualizarProducto")" method="post">
                        <div class="form-group">
                            <input type="hidden" id="productoId" name="id" />
                        </div>
                        <div class="form-group">
                            <label for="inputDescripcion">Descripción</label>
                            <input type="text" class="form-control" id="inputDescripcion" name="descripcion">
                        </div>
                        <div class="form-group">
                            <label for="inputProveedor">Proveedor</label>
                            <input type="text" class="form-control" id="inputProveedor" name="proveedor">
                        </div>
                        <div class="form-group">
                            <label for="inputCategoria">Categoría</label>
                            <input type="text" class="form-control" id="inputCategoria" name="categoria">
                        </div>
                        <div class="form-group">
                            <label for="inputMarca">Marca</label>
                            <input type="text" class="form-control" id="inputMarca" name="marca">
                        </div>
                        <div class="form-group">
                            <label for="inputCantidad">Cantidad</label>
                            <input type="text" class="form-control cantidad" id="inputCantidad" name="cantidad">
                        </div>
                        <div class="form-group">
                            <label for="inputCosto">Costo</label>
                            <input type="text" class="form-control costo" id="inputCosto" name="costo">
                        </div>
                        <div class="form-group">
                            <label for="inputPrecio">Precio</label>
                            <input type="text" class="form-control precio" id="inputPrecio" name="precio">
                        </div>
                        <div class="form-group mt-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="~/Scripts/Scripts/script.js"></script>
<script>
    $(document).ready(function () {
        // Agregar el evento blur a los campos de cantidad, costo y precio
        $(".cantidad, .costo, .precio").blur(function () {
            // Obtener el valor del campo
            var valor = parseFloat($(this).val());

            // Validar si el valor es negativo
            if (valor < 0) {
                // Mostrar un mensaje de error
                alert("Por favor, ingrese un valor no negativo.");
                // Establecer el valor en cero
                $(this).val(0);
            }
        });

        // Agregar el evento submit al formulario
        $("form").submit(function () {
            // Obtener los valores de cantidad, costo y precio
            var cantidad = parseFloat($("#inputCantidad").val());
            var costo = parseFloat($("#inputCosto").val());
            var precio = parseFloat($("#inputPrecio").val());

            // Validar si alguno de los valores es negativo
            if (cantidad < 0 || costo < 0 || precio < 0) {
                // Mostrar un mensaje de error
                alert("Por favor, ingrese valores no negativos.");
                // Detener el envío del formulario
                return false;
            }

            // Continuar con el envío del formulario si todos los valores son no negativos
            return true;
        });
    });
</script>
