@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Búsqueda";
}
<style>
    .cursor-pointer {
        cursor: pointer;
    }

    .modal-header .close {
        background-color: transparent;
        color: black;
        border: none;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 20px
    }
</style>

@model List<Model_Layer.Product>

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Buscar Producto</h1>
        </div>
    </div>
    <form method="post" action="@Url.Action("Search")">
        <div class="row">
            <div class="col-12 mt-2">
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="searchTerm" class="w-25">Buscar producto por:</label>
                    <input type="text" id="searchTerm" name="searchTerm" class="form-control w-75" placeholder="Descripción, Código, Categoría del producto y Marca">
                    <div id="name" class="form-check m-2 cursor-pointer">
                        <input class="form-check-input cursor-pointer" type="radio" name="searchBy" id="name" value="name">
                        <label class="form-check-label" for="name">Descripción</label>
                    </div>
                    <div id="code" class="form-check m-2 cursor-pointer">
                        <input class="form-check-input cursor-pointer" type="radio" name="searchBy" id="code" value="code">
                        <label class="form-check-label" for="code">Código</label>
                    </div>
                    <div id="category" class="form-check m-2 cursor-pointer">
                        <input class="form-check-input cursor-pointer" type="radio" name="searchBy" id="category" value="category">
                        <label class="form-check-label" for="category">Categoría</label>
                    </div>
                    <div id="marca" class="form-check m-2 cursor-pointer">
                        <input class="form-check-input cursor-pointer" type="radio" name="searchBy" id="marca" value="marca">
                        <label class="form-check-label" for="marca">Marca</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-75 mt-4">
                    <i class="bx bx-search-alt"></i> Buscar
                </button>
            </div>
        </div>
    </form>
    <div id="alertMessages">
        <!--Mensajes de alerta -->
    </div>
    <!--Tabla se resultados-->
    <div class="row">
        <div class="col-12 mt-4">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Proveedor</th>
                        <th>Categoría</th>
                        <th>Marca</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var producto in Model)
                        {
                            <tr>
                                <td>@producto.Id</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Descripcion">@producto.Descripcion</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Proveedor">@producto.ProveedorNombre</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Categoria">@producto.CategoriaNombre</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Marca">@producto.MarcaNombre</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Cantidad">@producto.Cantidad</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Costo">@producto.Costo</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Precio">@producto.Precio</td>
                                <td><button class="btn btn-primary" onclick="editarProducto('@producto.Id')">Editar</button></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">
                                @if (!string.IsNullOrEmpty(ViewBag.NoResultsMessage) || ViewData.ModelState["searchBy"] != null)
                                {
                                    @ViewBag.NoResultsMessage
                                }
                                else
                                {
                                    @:No se encontraron resultados.
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalEditarProducto" tabindex="-1" role="dialog" aria-labelledby="modalEditarProductoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarProductoLabel">Editar producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateProductForm" action="@Url.Action("ActualizarProducto")" method="post">
                        <div class="form-group">
                            <input type="hidden" id="productoId" name="id" />
                        </div>
                        <div class="form-group">
                            <label for="inputDescripcion">Descripción</label>
                            <input type="text" class="form-control" id="inputDescripcion" name="descripcion">
                        </div>
                        <div class="form-group">
                            <label for="inputProveedor">Proveedor</label>
                            <input type="text" class="form-control" id="inputProveedor" name="proveedor">
                        </div>
                        <div class="form-group">
                            <label for="inputCategoria">Categoría</label>
                            <input type="text" class="form-control" id="inputCategoria" name="categoria">
                        </div>
                        <div class="form-group">
                            <label for="inputMarca">Marca</label>
                            <input type="text" class="form-control" id="inputMarca" name="marca">
                        </div>
                        <div class="form-group">
                            <label for="inputCantidad">Cantidad</label>
                            <input type="text" class="form-control" id="inputCantidad" name="cantidad">
                        </div>
                        <div class="form-group">
                            <label for="inputCosto">Costo</label>
                            <input type="text" class="form-control" id="inputCosto" name="costo">
                        </div>
                        <div class="form-group">
                            <label for="inputPrecio">Precio</label>
                            <input type="text" class="form-control" id="inputPrecio" name="precio">
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function editarProducto(id) {
            // Obtén los datos del producto
            var descripcion = document.querySelector(`td[data-id='${id}'][data-columna='Descripcion']`).innerText;
            var proveedor = document.querySelector(`td[data-id='${id}'][data-columna='Proveedor']`).innerText;
            var categoria = document.querySelector(`td[data-id='${id}'][data-columna='Categoria']`).innerText;
            var marca = document.querySelector(`td[data-id='${id}'][data-columna='Marca']`).innerText;
            var cantidad = document.querySelector(`td[data-id='${id}'][data-columna='Cantidad']`).innerText;
            var costo = document.querySelector(`td[data-id='${id}'][data-columna='Costo']`).innerText;
            var precio = document.querySelector(`td[data-id='${id}'][data-columna='Precio']`).innerText;

            // Rellena los campos de entrada en la ventana emergente con los datos del producto
            $('#productoId').val(id);
            $('#inputDescripcion').val(descripcion);
            $('#inputProveedor').val(proveedor);
            $('#inputCategoria').val(categoria);
            $('#inputMarca').val(marca);
            $('#inputCantidad').val(cantidad);
            $('#inputCosto').val(costo);
            $('#inputPrecio').val(precio);

            // Muestra la ventana emergente
            $('#modalEditarProducto').modal('show');
        }
    </script>

