@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Actualizar";
}

@model List<Model_Layer.Product>

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Actualizar Producto</h1>
        </div>
    </div>
    <form method="post" action="@Url.Action("Insert")">
        <div class="row">
            <div class="col-6 mt-2">
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="inputname" class="w-25">Descripción:</label>
                    <input type="text" id="name" name="name" class="for
                    <a href="~/Views/Home/Update.cshtml">~/Views/Home/Update.cshtml</a>m-control w-75" placeholder="Descripción del Producto">
                    @Html.ValidationMessage("name", new { @class = "text-danger" })
                </div>
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="inputproveedor" class="w-25">Proveedor:</label>
                    <input type="text" id="proveedor" name="proveedor" class="form-control w-75" placeholder="Ingrese el nombre del proveedor">
                    @Html.ValidationMessage("proveedor", new { @class = "text-danger" })
                </div>
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="inputcategoria" class="w-25">Categoria:</label>
                    <input type="text" id="categoria" name="categoria" class="form-control w-75" placeholder="Categoria">
                    @Html.ValidationMessage("categoria", new { @class = "text-danger" })
                </div>
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="inputmarca" class="w-25">Marca:</label>
                    <input type="text" id="marca" name="marca" class="form-control w-75" placeholder="Marca">
                    @Html.ValidationMessage("marca", new { @class = "text-danger" })
                </div>
            </div>
            <!--4 Inputs a la derecha-->
            <div class="col-6 mt-2">
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="inputcantidad" class="w-25">Cantidad:</label>
                    <input type="text" id="cantidad" name="cantidad" class="form-control w-75" placeholder="0">
                    @Html.ValidationMessage("cantidad", new { @class = "text-danger" })
                </div>
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="inputcosto" class="w-25">Costo:</label>
                    <input type="text" id="costo" name="costo" class="form-control w-75" placeholder=0>
                    @Html.ValidationMessage("Costo", "", new { @class = "text-danger" })
                </div>
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="inputprecio" class="w-25">Precio:</label>
                    <input type="number" id="precio" name="precio" class="form-control w-75" placeholder=0>
                    @Html.ValidationMessage("Precio", "", new { @class = "text-danger" })
                </div>
                <div class="form-group d-flex align-items-center mt-2">
                    <label for="inputtotal" class="w-25">Total Producto:</label>
                    <input type="text" id="total" name="total" class="form-control w-75" placeholder=0 readonly>
                </div>
            </div>
        </div>

        <!--Botón de búsqueda-->
        <div class="row justify-content-center">
            <div class="col-6 mt-2">
                <button type="submit" class="btn btn-primary w-100 m-4">
                    <i class="bx bx-edit"></i> Actualizar
                </button>
            </div>
        </div>
    </form>
    <!--Tabla se resultados-->
    <div class="row">
        <div class="col-12 mt-4">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Proveedor</th>
                        <th>Categoría</th>
                        <th>Marca</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var producto in Model)
                        {
                            <tr>
                                <td>@producto.Id</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Descripcion">@producto.Descripcion</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Proveedor">@producto.Proveedor</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Categoria">@producto.Categoria</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Marca">@producto.Marca</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Cantidad">@producto.Cantidad</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Costo">@producto.Costo</td>
                                <td onclick="activarEdicion(this)" data-id="@producto.Id" data-columna="Precio">@producto.Precio</td>
                                <td><button class="btn btn-primary" onclick="editarProducto(this)" data-id="@producto.Id" data-descripcion="@producto.Descripcion" data-proveedor="@producto.Proveedor" data-categoria="@producto.Categoria" data-marca="@producto.Marca" data-cantidad="@producto.Cantidad" data-costo="@producto.Costo" data-precio="@producto.Precio">Editar</button></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">
                                @if (!string.IsNullOrEmpty(ViewBag.NoResultsMessage) || ViewData.ModelState["searchBy"] != null)
                                {
                                    @ViewBag.NoResultsMessage
                                }
                                else
                                {
                                    @:No se encontraron resultados.
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/Scripts/update.js"></script>